<div class="box">
  <div class="headerCard  flex-row justify-space-between">
    <h2>
      <a href="/post/{{id}}">
        <div class="col-7">{{titlePost}}</div>
      </a>
    </h2>
    <div class="col-3">posted by {{user.username}} on {{format_date thedate}}
    </div>
  </div>  
  <p class="cardBody1">
   {{postContent}}
  </p>
</div>
